PORT=3000
NODE_ENV=development

CLIENT_URL=http://localhost:5173

JWT_SECRET=
ARGON_MEMORY_COST=65536
ARGON_TIME_COST=3
ARGON_PARALLELISM=1
ARGON_HASH_LENGTH=32

DB_HOST=localhost
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=limpeza_praias

DB_LOG_SQL=